*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

.center{
    width: 100%;
    min-height: 640px;
    background-color: white;
    border-right: -4px;
}

.log-h2{
    padding: 25px 250px;
}

.logo{
    width: 100%;
    padding: 10rem 15rem ;
    margin-top: 10px;
}

.logo img{
    width: 330px;
    border: 0;
    display: inline-block;
}

.logo h2{
    font-weight: normal;
    color: #1c1e21;
    width: 565.5px;
    margin-left: 30px;
    margin-top: -15px;
    font-size: 32px;
    
}

