*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html, body{
    height: 100%;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fontes/OpenSans-Light.ttf');
}

.clear{
    clear: both;
}

.center{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.header{
    width: 100%;
    padding: 0 2%;
    height: 60px;
    background-color: #212443;
}

.header img{
    margin: 19px;
}

.container-banner{
    width: 100%;
    padding: 0 2%;
    height: 525px;
    background-image: url('../images/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container-banner .center{
    height: 100%;
}

.form{
    padding: 20px;
    float: right;
    width: 400px;
    height: calc(100% + 30px);
    position: relative;
    top: -15px;
    border: 8px solid rgba(120,120,120, 0.9);
    background-color:  white;
    border-width: 12px;
    border-style: solid;
}

.form h2{
    font-weight: normal;
    color: #999999;
    font-size: 21px;

}

.input-container{
    margin-top: 20px;
}

.input-container span{
    display: inline-block;
    width: 100%;
    font-size: 17px;
    color: #bbbbbb;
}

.form p{
    display: inline-block;
    width: 100%;
    font-size: 17px;
    color: #bbbbbb;
    margin: 20px 0;
}

.input-container input[type=text]{
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;
    margin-top: 8px 10px;
    padding: 20px;
}

.input-container input[text=text]:focus{
    outline: 0;
}

.form .input-submit{
    text-align: center;
}

.form input[type=submit]{
    width: 280px;
    height: 56px;
    background-color: #363A6D;
    color: white;
    font-size: 25px;
    display: inline-block;
    border-bottom: 5px solid #4a5097;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    margin-top: 20px;
}
  

.form input[type=submit]:hover{
    background-color: #323665;
}

.container-list{
    padding: 30px;
    margin-top: 100px;
    float: left;
    width: 519px;
    height: 270px;
    background-color: rgba(33,35,67,0.7);
}

.container-list ul{
    list-style-position: inside;
}

.container-list ul li{
    margin-top: 18px;
    color: white;
}

.container-2{
    padding: 40px 2%;
    background-color: #dddddd;
    text-align: center;
}

.container-2 h2{
    font-weight: normal;
}

.container-2 p{
    width: 100%;
    max-width: 768px;
    display: inline-block;
    text-align: justify;
    margin: 15px 0;
}

.arrow{
    left: 50%;
    width: 40px;
    margin-left: -20px;
    height: 40px;
    background-image: url('../images/arrow.png');
    background-size: 100% 100%;
    position: relative;
    top: 60px;
}

.section-1{
    padding: 90px 2%;
}

.section-1 h2{
    text-align: center;
    color: #462663;
    font-weight: normal;
}

.container-section{
    margin-top: 40px;
    text-align: center;
}

.container-single{
    float: left;
    width: 33.333%;
    padding: 30px;
}

.container-single p{
    text-align: justify;
    display: inline-block;
    padding: 10px 25px; 
}

.container-single img{
    width: 70px;
}

.footer{
    border-top: 4px solid #888;
    padding: 20px 0;
    text-align: center;
    color: #888;
}
.footer p{
    margin-top: 8px;
}

@media screen and (max-width: 1024px){
    .header{
        height: auto;
        width: 100%;
        padding: 15px 2%;
        text-align: center;
    }

    .header img{
        margin: 0;
    }

    .container-banner{
        width: 100%;
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .form{
        max-width: 400px;
        padding: 10px;
        width: 60%;
        height: 100%;
        top: 0;
        float: right;
    }

    .container-list{
        width: 40%;
        padding: 30px 0;
        float: left;
        max-width: 519px;
        height: auto;
    }

    .input-container input[type=text]{
        width: 100%;
        height: 55px;
    }
    
    .form input[type=submit]{
        max-width: 280px;
        width: 100%;
        height: 56px;
    }
      
}

@media screen and (max-width: 768px){
    .container-list{
        margin-top: 0;
        float: none;
        display: inline-block;
        width: 100%;
    }

    .form{
        float: none;
        display: inline-block;
        width: 100%;
        margin-top: 30px;
    }

    .container-single{
        float: none;
        width: 100%;
        display: inline-block;
        max-width: 600px;
        padding: 30px 0;
    }
}